/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* -------------------------------
              body
---------------------------------*/

body {
    margin: 0 !important;
    font-family: Roboto, sans-serif;
    height: 100%;
    background-color: #f5f8fa;
}

/* -------------------------------
             toolbar
---------------------------------*/

md-toolbar-row {
    justify-content: space-between;
}

/* -------------------------------
             menu
---------------------------------*/

.menu {
    color: black;
}

.menu a {
    font-size: 14px;
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
}

.menu a:hover {
    color: #ddd;
}

/* -------------------------------
          text style
---------------------------------*/

.theme-background {
    background-color: #ff0029;
    color: white;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

h2.title {
    padding: 30px 0 15px 0;
    margin: 0;
}

.button-block {
    display: block !important;
}

.text-center {
    text-align: center;
}

.mat-input-container {
    display: block !important;
}

.single-title-section {
    padding: 15px 0;
}

.section-padding {
    padding: 30px 0;
}

/* -------------------------------
             list
---------------------------------*/

.article {
    margin: 20px 0;
    padding: 15px 0;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
}

.article a {
    color: #333333;
    text-decoration: none;
}

.article a:hover {
    color: #333333;
    text-decoration: underline;
}

.comic_img {
    display: block;
    margin: 0 auto;
}

/* -------------------------------
    hide/show responsive menu
---------------------------------*/

@media only screen and (max-width: 600px) {
    .hidden-sm {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .hidden-md {
        display: none !important;
    }
}

/* -------------------------------
             footer
---------------------------------*/

footer p {
    margin: 0;
    text-align: center;
    padding: 50px;
    font-size: 14px
}

footer p a {
    color: #fff;
    text-decoration: none;
}

/* -------------------------------
             footer
---------------------------------*/

.page-not-found_title {
    padding: 50px;
    font-size: 40px;
    text-align: center;
}
